
MOD/GameDir.targets.bak
MOD/Package/plugins/MOD/UnityEngine.XRModule.dll
MOD/Package/plugins/MOD/UnityEngine.WindModule.dll
MOD/Package/plugins/MOD/UnityEngine.VRModule.dll
MOD/Package/plugins/MOD/UnityEngine.VideoModule.dll
MOD/Package/plugins/MOD/UnityEngine.VFXModule.dll
MOD/Package/plugins/MOD/UnityEngine.VehiclesModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityWebRequestWWWModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityWebRequestTextureModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityWebRequestModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityWebRequestAudioModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityWebRequestAssetBundleModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityTestProtocolModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityConnectModule.dll
MOD/Package/plugins/MOD/UnityEngine.UnityAnalyticsModule.dll
MOD/Package/plugins/MOD/UnityEngine.UNETModule.dll
MOD/Package/plugins/MOD/UnityEngine.UmbraModule.dll
MOD/Package/plugins/MOD/UnityEngine.UIModule.dll
MOD/Package/plugins/MOD/UnityEngine.UIElementsModule.dll
MOD/Package/plugins/MOD/UnityEngine.UI.dll
MOD/Package/plugins/MOD/UnityEngine.TLSModule.dll
MOD/Package/plugins/MOD/UnityEngine.TilemapModule.dll
MOD/Package/plugins/MOD/UnityEngine.TextRenderingModule.dll
MOD/Package/plugins/MOD/UnityEngine.TextCoreModule.dll
MOD/Package/plugins/MOD/UnityEngine.TerrainPhysicsModule.dll
MOD/Package/plugins/MOD/UnityEngine.TerrainModule.dll
MOD/Package/plugins/MOD/UnityEngine.SubsystemsModule.dll
MOD/Package/plugins/MOD/UnityEngine.SubstanceModule.dll
MOD/Package/plugins/MOD/UnityEngine.StreamingModule.dll
MOD/Package/plugins/MOD/UnityEngine.SpriteShapeModule.dll
MOD/Package/plugins/MOD/UnityEngine.SpriteMaskModule.dll
MOD/Package/plugins/MOD/UnityEngine.SharedInternalsModule.dll
MOD/Package/plugins/MOD/UnityEngine.ScreenCaptureModule.dll
MOD/Package/plugins/MOD/UnityEngine.ProfilerModule.dll
MOD/Package/plugins/MOD/UnityEngine.PhysicsModule.dll
MOD/Package/plugins/MOD/UnityEngine.Physics2DModule.dll
MOD/Package/plugins/MOD/UnityEngine.PerformanceReportingModule.dll
MOD/Package/plugins/MOD/UnityEngine.ParticleSystemModule.dll
MOD/Package/plugins/MOD/UnityEngine.LocalizationModule.dll
MOD/Package/plugins/MOD/UnityEngine.JSONSerializeModule.dll
MOD/Package/plugins/MOD/UnityEngine.InputModule.dll
MOD/Package/plugins/MOD/UnityEngine.InputLegacyModule.dll
MOD/Package/plugins/MOD/UnityEngine.IMGUIModule.dll
MOD/Package/plugins/MOD/UnityEngine.ImageConversionModule.dll
MOD/Package/plugins/MOD/UnityEngine.HotReloadModule.dll
MOD/Package/plugins/MOD/UnityEngine.GridModule.dll
MOD/Package/plugins/MOD/UnityEngine.GameCenterModule.dll
MOD/Package/plugins/MOD/UnityEngine.DSPGraphModule.dll
MOD/Package/plugins/MOD/UnityEngine.dll
MOD/Package/plugins/MOD/UnityEngine.DirectorModule.dll
MOD/Package/plugins/MOD/UnityEngine.CrashReportingModule.dll
MOD/Package/plugins/MOD/UnityEngine.CoreModule.dll
MOD/Package/plugins/MOD/UnityEngine.ClusterRendererModule.dll
MOD/Package/plugins/MOD/UnityEngine.ClusterInputModule.dll
MOD/Package/plugins/MOD/UnityEngine.ClothModule.dll
MOD/Package/plugins/MOD/UnityEngine.AudioModule.dll
MOD/Package/plugins/MOD/UnityEngine.AssetBundleModule.dll
MOD/Package/plugins/MOD/UnityEngine.ARModule.dll
MOD/Package/plugins/MOD/UnityEngine.AnimationModule.dll
MOD/Package/plugins/MOD/UnityEngine.AndroidJNIModule.dll
MOD/Package/plugins/MOD/UnityEngine.AIModule.dll
MOD/Package/plugins/MOD/UnityEngine.AccessibilityModule.dll
MOD/Package/plugins/MOD/Unity.Timeline.dll
MOD/Package/plugins/MOD/Unity.TextMeshPro.dll
MOD/Package/plugins/MOD/Unity.Postprocessing.Runtime.dll
MOD/Package/plugins/MOD/NavMeshComponents.dll
MOD/Package/plugins/MOD/MonoMod.Utils.xml
MOD/Package/plugins/MOD/MonoMod.Utils.dll
MOD/Package/plugins/MOD/MonoMod.RuntimeDetour.xml
MOD/Package/plugins/MOD/MonoMod.RuntimeDetour.dll
MOD/Package/plugins/MOD/Mono.Security.dll
MOD/Package/plugins/MOD/Mono.Cecil.dll
MOD/Package/plugins/MOD/MOD.dll
MOD/Package/plugins/MOD/Facepunch.Steamworks.Win64.dll
MOD/Package/plugins/MOD/Boxophobic.Utils.Scripts.dll
MOD/Package/plugins/MOD/BepInEx.xml
MOD/Package/plugins/MOD/BepInEx.dll
MOD/Package/plugins/MOD/Assembly-CSharp_publicized.dll
MOD/Package/plugins/MOD/Assembly-CSharp-firstpass_publicized.dll
MOD/Package/plugins/MOD/0Harmony.xml
MOD/Package/plugins/MOD/0Harmony.dll
MOD/obj/Release/MOD.csproj.FileListAbsolute.txt
MOD/obj/Release/MOD.csproj.CopyComplete
MOD/obj/Release/MOD.csproj.CoreCompileInputs.cache
MOD/.vs/MOD/v17/.suo
MOD/.vs/MOD/v17/.suo
